@model IEnumerable<ClassAttendance.Models.GradeModel>

@{
    ViewData["Title"] = "Grade Page";
}

<h1>Index</h1>

<p>
    <h1>Grades item values are fixed with no need to Manage</h1>
</p>
<table class="table">
    <thead>
        <tr>
     
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
         
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
     
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
           
        </tr>
}
    </tbody>
</table>
