@model ClassAttendance.Models.StudentModel

<h4>StudentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFullName" class="control-label"></label>
                <input asp-for="StudentFullName" class="form-control" />
                <span asp-validation-for="StudentFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classes.ClassID" class="control-label"></label>
                <select asp-for="Classes.ClassID" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListOfClasses,"ClassID","ClassName"))"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
